<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div id="mapView"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 well well-sm" ng-repeat="item in collection.data track by $index">
                <div class="col-xs-1">
                    <h6>{{item.index}}</h6>
                </div>
                <div class="col-xs-3">
                    <img class="feed-image" ng-src="https://s3.amazonaws.com/fixdstreets/{{item.filePath}}">
                </div>
                <div class="col-xs-8">
                    <p>{{item.description}}</p>
                    <p>{{item.address}}</p>
                </div>
        </div>
    </div>
</div>
