<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div id="mapView"></div>
        </div>
        <div ng-repeat="place in address">
            <div class="col-xs-12 col-sm-6 well well-sm" ng-repeat="item in collection.data track by $index">
                <div class="col-xs-1">
                    <h6>{{item.index}}</h6>
                </div>
                <div class="col-xs-3">
                    <img class="feed-image" src="http://placehold.it/75x75">
                </div>
                <div class="col-xs-8">
                    <p>{{item.description}}</p>
                    <p>{{place}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<img ng-src="{{item.image}}">-->