<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3>Please describe the issue and the possible hazards associated with it.</h3>
        </div>
        <div id="input-description-div" class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 text-center">
            <form>
                <textarea id="textbox" placeholder="Enter Description" type="text" class="form-control" ng-model="data.description" required></textarea>
                <a href="#/feed" class="btn btn-default map-button" ng-click="sendData()">Submit</a>
            </form>
        </div>
    </div>
</div>
