<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" ng-controller="mapbox">
            <div id="map"></div>
            <pre id='info'></pre>
        </div>
        <div class="col-sm-6 input-group">
            <form>
                <textarea placeholder="Description" class="form-control"></textarea>
                <input type="file" id="upload-file" class="form-control">
                <input type="button" value="Submit Issue" class="form-control">
            </form>
        </div>
    </div>
</div>