<div class="container-fluid">
	<div class="row text-center" id="lower">
		<div class="col-xs-12">
			<h1>Please upload a picture of the issue.</h1>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
                <input type="file" id="file" class="btn btn-default inputfile" name="file" ng-model="fileInfo"  file-model="uploadedImage" required/>
                <label for="file" class="btn btn-default fileBtn">Choose a Picture</label>
                <button id="picButton" class="btn btn-default fileBtn" ng-click="uploadFile()">Next</button>
        </div>
	</div>
</div>


