#map {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}
#mapView {
  width: 100%;
  height: 510px;
  margin-bottom: 1%;
  padding-bottom: 0;
}
.well {
  border-radius: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-top: none;
}
.feed-image {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.forward {
  background-color: #003459;
  color: #fff;
  display: inline;
  border-radius: 0;
  margin: 20px;
  border: none;
  padding: 15px 20px;
}
.over {
  z-index: 10;
}
#title {
  text-align: center;
  color: #fff;
  margin: 8% auto;
  margin-bottom: 2%;
}
#title h1 {
  font-size: 6em;
}
#homeImage {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1250px;
  position: fixed;
  background: url("../Images/skyline.png") no-repeat center center fixed;
  background-size: cover;
}
#buttons {
  margin-top: 10%;
}
#header {
  background-color: #003459;
}
.white {
  color: #fff;
}
.white:hover {
  color: #00a8e8;
}
.borderRed {
  border-top: 2px solid #c00;
  border-length: 10px;
}
nav {
  padding: 0;
  margin: 0;
  color: #fff;
}
#navBar {
  border: none;
  border-radius: 0;
}
#map-button-div {
  margin-bottom: 100px;
}
.map-button {
  border-radius: 0;
  border-color: #003459;
  margin-top: 20px;
  color: #fff;
  background-color: #003459;
  width: 100px;
}
#input-description-div {
  margin-top: 5%;
}
#textbox {
  border-radius: 0;
  border-color: #003459;
  height: 200px;
  background-color: #f5f5f5;
}
canvas:hover {
  cursor: move;
}
.mapboxgl-popup-content {
  border-radius: 10px 10px 50px 50px;
  border: 2px solid #000;
}
.mapboxgl-popup {
  will-change: transform;
  background-color: transparent;
  color: #fff;
}
.mapboxgl-popup-anchor-bottom {
  color: #000;
}
#map-img {
  width: 10px;
  height: auto;
}
#mobileNav {
  display: inline-flex;
}
#imageUpload {
  width: 20%;
  margin: 5% auto;
}
#picButton {
  margin-left: 30%;
  margin-top: 13%;
}
#fileBtn {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
