#map {
  width: 100%;
  height: 500px;
}
#worker {
  height: 3.5em;
}
#navBar {
  display: none;
}
h1 {
  z-index: 6;
}
#submitPage {
  z-index: 6;
  border: 3px solid #000;
  display: block;
}
#over {
  width: 600px;
  z-index: 10;
}
#homeImage {
  top: 0px;
  width: 420px;
  left: 0px;
  border: 1px solid;
  height: 500px;
  z-index: -4;
  position: fixed;
}
